<h1>New Plant</h1>

<%= form_with model: @house_plant, local: true do |form| %>
  <%= form.label :plant_type %>
  <%= form.text_field :plant_type %>

  <%= form.label :height %>
  <%= form.text_field :height %>

  <%= form.collection_select :room_id, Room.all, :id, :name %>

  <%= form.submit "Create Plant" %>
<% end %>
