<h1><%= @room.name %></h1>

<h3>Occupancy:</h3>
<p><%= @room.occupancy %> people</p>

<h3>Plants:</h3>
<ul>
  <% @room.house_plants.each do |plant| %>
    <li><%= link_to plant.plant_type, house_plant_path(plant) %></li>
  <% end %>
</ul>

<h2><%= link_to 'Add New Plant to this Room', new_house_plant_path(room_id: @room.id) %></h2>
<h4><%= link_to 'Back to Rooms', rooms_path %></h4>
